*.swp
posts/__temp__.mp4
files/2016-04-06_IRM-protocol/2016-04-06_IRM-protocol
.ipynb_checkpoints
.DS_Store

# nikola
.doit.db
cache
output
posts/.ipynb_checkpoints
state_data.json

# python
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.doit.db.db
themes/bootstrap3-jinja/
